In [1]:
import pandas as pd

df = pd.read_csv("/Users/GURU/Desktop/Sql_Excel_pizza/pizza_sales.csv")
df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True).dt.strftime("%Y-%m-%d")
df.to_csv("pizza_sales_cleaned.csv", index=False)

/var/folders/7g/q4bdxd8s7xd3lw5j6j3g_m2r0000gq/T/ipykernel_6564/3395077444.py:4: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True).dt.strftime("%Y-%m-%d")

In [ ]:
df.head()  # Shows the first 5 rows of pizza_sales_cleaned.csv
print(f"Total records: {len(df)}")

Total records: 48620

In [ ]:
print(df.dtypes)  # Show data types of all columns of pizza_sales_cleaned.csv

pizza_id               int64
order_id               int64
pizza_name_id         object
quantity               int64
order_date            object
order_time            object
unit_price           float64
total_price          float64
pizza_size            object
pizza_category        object
pizza_ingredients     object
pizza_name            object
dtype: object

In [ ]:
print(df["order_date"].head())  # Display first few date values of pizza_sales_cleaned.csv

0    2015-01-01
1    2015-01-01
2    2015-01-01
3    2015-01-01
4    2015-01-01
Name: order_date, dtype: object

In [5]:
# Save the cleaned DataFrame to a new Excel file
df.to_excel("/Users/GURU/Desktop/Sql_Excel_pizza/pizza_sales_cleaned.xlsx", index=False, sheet_name="Pizza Sales Data")

In [ ]:
# Read the old CSV file to verify the changes
# Check order_date format earlier it was in dd/mm/yyyy format and now it is in yyyy-mm-dd format
df_old = pd.read_csv("/Users/GURU/Desktop/Sql_Excel_pizza/pizza_sales.csv")
print(df_old.head())  # Show first few records
print(f"Total records: {len(df_old)}")

   pizza_id  order_id  pizza_name_id  quantity order_date order_time  \
0         1         1     hawaiian_m         1     1/1/15   11:38:36
1         2         2  classic_dlx_m         1     1/1/15   11:57:40
2         3         2  five_cheese_l         1     1/1/15   11:57:40
3         4         2    ital_supr_l         1     1/1/15   11:57:40
4         5         2     mexicana_m         1     1/1/15   11:57:40

   unit_price  total_price pizza_size pizza_category  \
0       13.25        13.25          M        Classic
1       16.00        16.00          M        Classic
2       18.50        18.50          L         Veggie
3       20.75        20.75          L        Supreme
4       16.00        16.00          M         Veggie

                                   pizza_ingredients  \
0           Sliced Ham, Pineapple, Mozzarella Cheese
1  Pepperoni, Mushrooms, Red Onions, Red Peppers,...
2  Mozzarella Cheese, Provolone Cheese, Smoked Go...
3  Calabrese Salami, Capocollo, Tomatoes, Red Oni...
4  Tomatoes, Red Peppers, Jalapeno Peppers, Red O...

                  pizza_name
0         The Hawaiian Pizza
1   The Classic Deluxe Pizza
2      The Five Cheese Pizza
3  The Italian Supreme Pizza
4         The Mexicana Pizza
Total records: 48620